.modal {
  background-color: #0000004d;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 100;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  box-sizing: border-box;
}

.modal__content_size_sm {
  width: 496px;
}

.modal__content_size_lg {
  width: 670px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px 28px 36px;
  box-sizing: border-box;
}

.modal__title {
  margin: 0 0 24px;
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  margin: 0;
  background: url("../../assets/Union.png") no-repeat transparent;
  background-position: center;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 24px;
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 0 4px;
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__input:focus {
  outline: none;
}

.modal__radio-button {
  border: none;
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 32px;
  padding: 0;
  color: #00000080;
}

.modal__legend {
  margin-bottom: 12px;
  color: #000;
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__label_type_radio {
  width: 173px;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.modal__label_type_radio:last-child {
  margin-bottom: 0;
}

.modal__button-container {
  display: flex;
  align-items: center;
  margin-top: 8px;
  width: 168px;
  height: 40px;
}

.modal__switch-button {
  border-radius: 4px;
  background-color: #ffffff;
  color: #00000080;
  min-width: 124px;
  height: 36px;
  border: none;
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit {
  border-radius: 4px;
  background-color: #0000004d;
  min-width: 124px;
  height: 36px;
  color: white;
  border: none;
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}

.modal__submit_disabled {
  background-color: #0000004d;
  color: #ffffff;
  cursor: default;
}

.modal__submit_active {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
