.modal__content_type_delete {
  width: 670px;
}

.modal__delete-title {
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  max-width: 367px;
}

.modal__delete-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 60px;
}

.modal__submit_delete {
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  background: none;
  color: #ff4d00;
  padding: 0 0 24px;
  cursor: pointer;
}

.modal__cancel-button {
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}
