.modal__content_delete {
  width: 670px;
}

.modal__form_delete {
  padding-top: 60px;
}

.modal__title {
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0;
}

.modal__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0 60px;
}
.modal__submit_delete {
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  border: none;
  background: none;
  color: #ff4d00;
  padding-bottom: 24px;
}

.modal__cancel-button {
  font-family: "CabinetGrotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  background: transparent;
  border: none;
}
